@model IEnumerable<MVCproject.Models.TransactionModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEdit" class="btn btn-block btn-info">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IS_Credit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime_UTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IS_Credit)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateTime_UTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddOrEdit", new { id = item.ID }, new { @class = "btn" })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn" })
                </td>
            </tr>
        }
    </tbody>
</table>
